In [1]:
# Restart kernel before running

import os
import time
from langchain_community.llms import VLLM
from pyspark_ai import SparkAI

# Set the environment variable
os.environ['OMP_NUM_THREADS'] = '32'
os.environ["HUGGINGFACEHUB_API_TOKEN"] = "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"

# Start timer
start_time = time.time()

# Initialize the VLLM
llm = VLLM(
    #optional models
    #defog/sqlcoder-70b-alpha 93.0%
    #defog/sqlcoder-7b-2      90.5%
    #defog/sqlcoder-34b-alpha 84.0%
    #defog/sqlcoder2          74.5%
    #defog/sqlcoder-7b        71.0%
    #defog/sqlcoder           64.6%
    model="deepseek-ai/deepseek-coder-7b-instruct-v1.5",
    trust_remote_code=True,
    download_dir="/mnt/DP_disk2/models/Huggingface/", #~/.conda/envs/zedong-vllm/lib/python3.10/site-packages/langchain_community/llms/vllm.py:88
)

# Initialize and activate SparkAI
spark_ai = SparkAI(llm=llm,verbose=True)
spark_ai.activate()

init_time = time.time() - start_time

# create a dataframe productRevenue
df = spark_ai._spark.createDataFrame(
    [
        ("Normal", "Cellphone", 6000),
        ("Normal", "Tablet", 1500),
        ("Mini", "Tablet", 5500),
        ("Mini", "Cellphone", 5000),
        ("Foldable", "Cellphone", 6500),
        ("Foldable", "Tablet", 2500),
        ("Pro", "Cellphone", 3000),
        ("Pro", "Tablet", 4000),
        ("Pro Max", "Cellphone", 4500)
    ],
    ["product", "category", "revenue"]
)

start_time = time.time()
df.ai.transform("What is the best-selling product").show()
#example query
#df.ai.transform("Pivot the data by product and the revenue for each product").show()
#df.ai.transform("Pivot the data by catagory and the revenue for each product").show()
#df.ai.transform("What are the best-selling and the second best-selling products in every category?").show()
#df.ai.transform("What is the difference between the revenue of each product and the revenue of the best-selling product in the same category of that product?").show()
task_time = time.time() - start_time

print(f"Init time: {init_time} seconds")
print(f"Task time: {task_time} seconds")

/home/sparkuser/.conda/envs/cpu_pr/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
2024-04-01 01:56:50,465	INFO util.py:154 -- Missing packages: ['ipywidgets']. Run `pip install -U ipywidgets`, then restart the notebook server for rich notebook output.

INFO 04-01 01:56:50 pynccl_utils.py:17] Failed to import NCCL library: NCCL only supports CUDA and ROCm backends.
INFO 04-01 01:56:50 pynccl_utils.py:18] It is expected if you are not running on NVIDIA GPUs.
INFO 04-01 01:56:50 llm_engine.py:75] Initializing an LLM engine (v0.4.0) with config: model='defog/sqlcoder-34b-alpha', tokenizer='defog/sqlcoder-34b-alpha', tokenizer_mode=auto, revision=None, tokenizer_revision=None, trust_remote_code=True, dtype=torch.float16, max_seq_len=16384, download_dir='/mnt/DP_disk2/models/Huggingface/', load_format=auto, tensor_parallel_size=1, disable_custom_all_reduce=True, quantization=None, enforce_eager=False, kv_cache_dtype=auto, device_config=cpu, seed=0)

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

WARNING 04-01 01:56:50 cpu_executor.py:96] float16 is not supported on CPU, casting to bfloat16.
WARNING 04-01 01:56:50 cpu_executor.py:100] CUDA graph is not supported on CPU, fallback to the eager mode.
WARNING 04-01 01:56:50 utils.py:357] Pin memory is not supported on CPU.
INFO 04-01 01:56:50 selector.py:21] Using Torch SDPA backend.
INFO 04-01 01:56:51 weight_utils.py:177] Using model weights format ['*.bin']
INFO 04-01 01:57:11 cpu_executor.py:69] # CPU blocks: 1365, # GPU blocks: 0

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

INFO: The pyspark.sql.connect.dataframe module could not be imported. This might be due to your PySpark version being below 3.4.
-------------------------Start get_transform_sql_query-------------------------


INFO: Creating temp view for the transform:
df.createOrReplaceTempView("spark_ai_temp_view__2114715937")

-------------------------Current table schema from df is:-------------------------

 product, string
category, string
revenue, bigint

/home/sparkuser/.conda/envs/cpu_pr/lib/python3.10/site-packages/langchain_core/_api/deprecation.py:117: LangChainDeprecationWarning: The function `predict_messages` was deprecated in LangChain 0.1.7 and will be removed in 0.2.0. Use invoke instead.
  warn_deprecated(

-------------------------Current sample vals are:-------------------------

 (product, string, ['Normal', 'Normal', 'Mini'])
(category, string, ['Cellphone', 'Tablet', 'Tablet'])
(revenue, bigint, ['6000', '1500', '5500'])

-------------------------Current table comment is-------------------------



-------------------------Start generating sql query with a prompt with few-shot examples-------------------------


-------------------------Input prompt is:-------------------------

 You are an assistant for writing professional Spark SQL queries.
Given a question, you need to write a Spark SQL query to answer the question.
The rules that you should follow for answering question:
1.The answer only consists of Spark SQL query. No explaination. No
2.SQL statements should be  Spark SQL query.
3.ONLY use the verbatim column_name in your resulting SQL query; DO NOT include the type.
4.Use the COUNT SQL function when the query asks for total number of some non-countable column.
5.Use the SUM SQL function to accumulate the total number of countable column values.

QUESTION: Given a Spark temp view `spark_ai_temp_view_14kjd0` with the following sample vals,
    in the format (column_name, type, [sample_value_1, sample_value_2...]):
```
(a, string, [Kongur Tagh, Grossglockner])
(b, int, [7649, 3798])
(c, string, [China, Austria])
```
Write a Spark SQL query to retrieve from view `spark_ai_temp_view_14kjd0`: Find the mountain located in Japan.
Answer:
```SELECT `a` FROM `spark_ai_temp_view_14kjd0` WHERE `c` = 'Japan'```

QUESTION: Given a Spark temp view `spark_ai_temp_view_12qcl3` with the following (columns, types, sample_values):
```
(Student, string, [student1, student2])
(Birthday, string, [Dec 12 2005, 2006-03-04])
```
Write a Spark SQL query to retrieve from view `spark_ai_temp_view_12qcl3`: What is the total number of students with the birthday January 1, 2006?

Answer:
```SELECT COUNT(`Student`) FROM `spark_ai_temp_view_12qcl3` WHERE `Birthday` = 'January 1, 2006'```


Question: Given a Spark temp view `spark_ai_temp_view__2114715937`  with the following sample vals,
 in the format (column_name, type, [sample_value_1, sample_value_2...]):
```
(product, string, ['Normal', 'Normal', 'Mini'])
(category, string, ['Cellphone', 'Tablet', 'Tablet'])
(revenue, bigint, ['6000', '1500', '5500'])
```
Write a Spark SQL query to retrieve from view `spark_ai_temp_view__2114715937`: What is the best-selling product
Answer:

Processed prompts: 100%|█████████████████████████████████████████████████| 1/1 [00:19<00:00, 19.03s/it]

-------------------------The model replies:-------------------------

 ```SELECT product, SUM(revenue) AS total_revenue FROM `spark_ai_temp_view__2114715937` GROUP BY product```

-------------------------Spark retrieved sql:-------------------------

 SELECT product, SUM(revenue) AS total_revenue FROM `spark_ai_temp_view__2114715937` GROUP BY product

-------------------------End get_transform_sql_query-------------------------

 get_transform_sql_query_time: 20.60026216506958 seconds

-------------------------Received query:-------------------------

 SELECT product, SUM(revenue) AS total_revenue FROM `spark_ai_temp_view__2114715937` GROUP BY product

+--------+-------------+
| product|total_revenue|
+--------+-------------+
|  Normal|         7500|
|    Mini|        10500|
|Foldable|         9000|
|     Pro|         7000|
| Pro Max|         4500|
+--------+-------------+

Init time: 23.6774263381958 seconds
Task time: 22.08994436264038 seconds